<%= 'Inbox' %> | <%= link_to 'Sent', message_sent_messages_path %>
<h1>Listing Inbox messages</h1>

<table>
  <tr>
    <th>From </th>
    <th>Content</th>
    <th>Read</th>
    <th>Accepted</th>
		<th>Date</th>
  </tr>

<% for message in @messages %>
  <tr>
    <td><%=h User.find(message.from_profile_id).login %></td>
    <td><%=link_to truncate(message.content,10), show_message_message_path(message.id),:method =>:post%></td>
    <td><%= message.read == true ? "Read" : "Unread" %></td>
    <td><%=link_to "Accept", accept_message_message_path(message.id),:method =>:post if message.is_accepted.nil? %><%=" | " if message.is_accepted.nil?%> <%=link_to "Reject", reject_message_message_path(message.id),:method =>:post if message.is_accepted.nil? %><%= message.is_accepted == true ? "Accepted" : "Rejected" unless message.is_accepted.nil?%></td>
    <td><%= message.created_at.to_s(:short) %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'Creat New message', new_message_path %>
