<h1>New message</h1>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :from_profile_id %><br />
    <%= f.text_field :from_profile_id %>
  </p>
  <p>
    <%= f.label :to_profile_id %><br />
    <%= f.text_field :to_profile_id %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :read %><br />
    <%= f.check_box :read %>
  </p>
  <p>
    <%= f.label :is_accepted %><br />
    <%= f.check_box :is_accepted %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', messages_path %>
